@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
html,
body {
  height: 100vh;
  background-image: radial-gradient(circle 800px at calc(50% + 400px) 100vh, #D59D2A 0, transparent 100%);
}
main {
  scroll-snap-type: y proximity;

}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
section {
  scroll-snap-align: start;
}

#products-container {
  background-color: #d59c2a1f;
}
@media (min-width: 1024px) {
  main {
    background-image: radial-gradient(circle 1200px at calc(50% + 1500px) 250px, #D59D2A 0, transparent 100%);
  }
}
